.idea/
.index/
*.log
dependency-reduced-pom.xml
nbactions.xml
sovietBot.iml
target/
/ffmpeg.exe
/ffprobe.exe
/youtube-dl
configuration.json
filter.json
/token.txt
sovietBot.db
SovietBot/
/samplePayload.txt
/launcher.json
/image
/databaseWork
deploy.sh
/.gradle
/build
/out